services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: false

    _instanceof:
        ChamberOrchestra\MenuBundle\Factory\Extension\ExtensionInterface:
            tags: [ "chamber_orchestra_menu.factory.extension" ]
        ChamberOrchestra\MenuBundle\Navigation\NavigationInterface:
            tags: [ "chamber_orchestra_menu.navigation" ]
        ChamberOrchestra\MenuBundle\Matcher\Voter\VoterInterface:
            tags: [ "chamber_orchestra_menu.matcher.voter" ]

    ChamberOrchestra\MenuBundle\:
        resource: '../../'
        exclude: "../../{DependencyInjection,Resources,Exception,Navigation,tests,vendor}"

    ChamberOrchestra\MenuBundle\Factory\Factory:
        calls:
            - [ "addExtensions", [ !tagged_iterator { tag: chamber_orchestra_menu.factory.extension } ] ]

    ChamberOrchestra\MenuBundle\Factory\Extension\CoreExtension:
        tags:
            - { name: chamber_orchestra_menu.factory.extension,  priority: -10 }

    ChamberOrchestra\MenuBundle\Matcher\Matcher:
        calls:
            - [ "addVoters", [ !tagged_iterator { tag: chamber_orchestra_menu.matcher.voter } ] ]

